<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
    <a class="navbar-brand" href="#">Belva Digital TodoList</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">

    </div>
  </nav>

  <br>
  <br>

<div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content white-text">
          <div class="row">
            <div class="col s5">
              <form #todoForm="ngForm" (ngSubmit)="onSubmit(todoForm)">
                <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="todoservice.selectedTodo._id">
                <div class="row">
                  <div class="input-field col s12">
                    <input type="text" name="title" #name="ngModel" [(ngModel)]="todoservice.selectedTodo.title" placeholder="Enter ToDo Title here" required>
                    <label>Title :
                      <label class="red-text">*</label>
                    </label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input type="text" name="task" #name="ngModel" [(ngModel)]="todoservice.selectedTodo.task" placeholder="Eg : Cooking code">
                    <label>Task :</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input type="text" name="completed" #name="ngModel" [(ngModel)]="todoservice.selectedTodo.completed">
                    <label>Completed :</label>
                  </div>
                </div>
                
                <div class="row">
                  <div class="input-field col s12">
                    <button class="btn btn-custom right" type="button" (click)="resetForm(todoForm)">Reset</button>
                    <button class="btn btn-custom right" type="submit" [disabled]="!todoForm.valid">Submit</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="col s7">
                <table class="responsive-table highlight">
                    <thead>
                      <tr>
                        <th>Title</th>
                        <th>Task</th>
                        <th>Completed</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tr *ngFor="let todloop of todoservice.todos">
                      <td>{{todloop.title}}</td>
                      <td>{{todloop.task}}</td>
                      <td>{{todloop.completed}}</td>
                      <td>
                          <a class="action-btn" (click)="onDelete(todloop._id, todoForm)">
                            <i class="material-icons">delete</i>
                          </a>
                        </td>
                    </tr>
                  </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </div>